<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
  <ion-card *ngFor="let recipe of RecipeInfo ?.results">
    <!--Display a card for each of the recipes-->
  <img [src]="recipe.image" alt="Recipe Info"/>

  <ion-card-header>
    <ion-card-title>{{recipe.title}}</ion-card-title>
  </ion-card-header>

     <ion-card-content><ion-button (click)="NavDetails(recipe.id)">Details</ion-button>

     <h4>Keywords used {{keyword}}</h4>
     <!--To display what keywords were used when searching for this recipe, above also calls navdetails to go to the recipes details page-->
     </ion-card-content>

   </ion-card>
  </ion-content>
