<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display:flex; flex-wrap: no wrap; gap: 20px;"><span>G00438808</span>
      <i class = "fa fa-heart"></i>
      <i class = "fa fa-gear"></i>
      <i class="fa fa-arrows-rotate"></i>
      </div>
 <!-- https://www.w3schools.com/cssref/css3_pr_justify-content.php -->
   <!-- https://www.w3schools.com/cssref/css3_pr_flex-wrap.php -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  text-align: center;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
}

.topnav input[type=text] {
  float: right;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    text-align: left;
    width: 100%;
    padding: 10px;
   margin: 0px;
  }
}
</style>

<div class="topnav">
  <a class="Enter Ingredients">Enter Ingredients</a>
  <input type="text" placeholder="Ingredients">
</div>
</ion-content>
  <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar3 -->

