<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display:flex; flex-wrap: no wrap; gap: 20px;"><span>G00438808</span>
      <i class = "fa fa-heart"></i>
      <i class = "fa fa-gear"></i>
      <i class="fa fa-arrows-rotate"></i>
      </div>
 <!-- https://www.w3schools.com/cssref/css3_pr_justify-content.php -->
   <!-- https://www.w3schools.com/cssref/css3_pr_flex-wrap.php -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.topnav {
  outline: none;
  border: none;
  overflow: hidden;
}

.topnav a {
  outline: none;
  border: none;
  font-size: 17px;
  color: black;
}

.topnav input[type=text] {
  outline: none;
  border: none;
  /*https://www.w3schools.com/css/css_outline.asp*/
  font-size: 17px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    padding:10px;
  }
}
</style>

<ion-content [fullscreen]="true">
  <ion-input lable="Enter Ingredient" placeholder="Ingredient" [(ngModel)]="keyword"></ion-input>
  <ion-button (click) ="Search()">
    Search
  </ion-button>
  </ion-content>



</ion-content>
  <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar3 -->
  <!-- https://ionicframework.com/docs/api/button -->

