<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display:flex; flex-wrap: no wrap; justify-content: space-between;"><span>G00438808</span>
      <i class = "fa fa-heart"></i>
      <i class = "fa fa-gear"></i>
      <i class="fa fa-arrows-rotate"></i>
      </div>
 <!-- https://www.w3schools.com/cssref/css3_pr_justify-content.php -->
   <!-- https://www.w3schools.com/cssref/css3_pr_flex-wrap.php -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div style= "display: flex; gap: 20px;">
  <button onclick ="location.href='/ingredients_entry'"> Enter Ingredients</button>
  <button onclick = "location.href='/ingredients'">  Ingredients</button>
  <!-- https://www.w3schools.com/csS/css3_buttons.asp -->
  </div>
</ion-content>
